@model LinkedIn.Web.Models.ProfileViewModels.WorkExperienceViewModel
@using Linkedin.Models.Enum

@{
    AjaxOptions opts = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "Exps",
        InsertionMode = InsertionMode.InsertAfter,
        OnSuccess = "HideResetModel()"
    };
}
<div class="modal fade" id="FullModal" tabindex="-1" role="dialog" aria-labelledby="FullModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content row">
            <div class="modal-header">
                <h5 class="modal-title" id="FullModalLabel">Add Experience</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("AddWorkExperience", "Profile", opts, new { id = "ModelForm" }))
            {
                <div class="modal-body" id="exp-modal-body">
                    <div class="form-controls">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Title, new { @class = "required" })
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.EmploymentType)
                            @Html.DropDownListFor(
                            m => m.EmploymentType,
                            Enum.GetValues(typeof(EmploymentType))
                                .Cast<EmploymentType>()
                                .Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }),
                                new { @class = "form-control" })
                            
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Company)
                            @Html.TextBoxFor(m => m.Company.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.Company.Name, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Location)
                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.Location)


                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @cols = "30", @rows = "4" })
                            @Html.ValidationMessageFor(m => m.Description)


                        </div>
                        <div class="form-group">
                            <div>
                                @Html.CheckBoxFor(m => m.IsPresent, new { id = "CurrentlyWorking"})
                               
                                <span>
                                    I am
                                    currently working in this role
                                    Transfare
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="" class="required">Start Date</label>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(
                                                model => model.StartMonth,
                                                Enumerable.Range(1, 12).
                                                Select(i => new SelectListItem
                                                {
                                                    Value = i.ToString(),
                                                    Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)
                                                }),
                                                "Month",
                                                new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.StartMonth, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(model => model.StartYear,
                                                                Enumerable.Range(1975, DateTime.Now.Year - 1975).
                                                                Select(i => new SelectListItem
                                                                {
                                                                    Value = i.ToString(),
                                                                    Text = i.ToString()
                                                                }),
                                                                "Year",
                                                                new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.StartYear, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="" class="required">End Date</label>
                                    <h4 id="PresentWorkDate">Present</h4>
                                    <div class="row" id="EndWorkDate">
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(
                                                model => model.EndMonth,
                                                Enumerable.Range(1, 12).
                                                Select(i => new SelectListItem
                                                {
                                                    Value = i.ToString(),
                                                    Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)
                                                }),
                                                "Month",
                                                new { @class = "form-control" })
                                           @* @Html.ValidationMessageFor(m => m.EndMonth, "", new { @class = "text-danger" })*@
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(model => model.EndYear,
                                                                Enumerable.Range(1975, DateTime.Now.Year - 1975).
                                                                Select(i => new SelectListItem
                                                                {
                                                                    Value = i.ToString(),
                                                                    Text = i.ToString()
                                                                }),
                                                                "Year",
                                                                new { @class = "form-control" })

                                          @*  @Html.ValidationMessageFor(m => m.EndYear, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            }
        </div>
    </div>
</div>
