@model UserSearchViewModel
<li>
    <div class="search-result">

        <div class="search-result__img">
            <a href="@Model.User.ProfilePicURL"></a>
        </div>

        <div class="search-result__info">
            <a href="" class="name">@Model.User.FirstName @Model.User.LastName</a>
            <p class="data"> @Model.User.HeadLine</p>
            <p class="country">@Model.User.Country</p>
        </div>

        <div class="search-result__action">
            @if (Model.UserType==UserType.Connected)
            {
                <button class="connect">Message</button>
            }
            else if (Model.UserType == UserType.pending)
            {
                <button class="connect" disabled>Pending</button>
            }
            else if (Model.UserType == UserType.requested)
            {
                <button class="connect">respond</button>
            }
            else if (Model.UserType == UserType.noConnection)
            {
                <button class="connect">Connect</button>
            }
        </div>
    </div>
</li>
